.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
